
@font-face {
    font-family: Finlandica;
    src: url('../fonts/Finlandica-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: ProtestGuerrilla;
    src: url('../fonts/ProtestGuerrilla-Regular.ttf');
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Finlandica;
    font-weight: 400;
}

body{
    background: #2F2F2F;
    color: #ffffff;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.container{
    max-width: 1148px;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 396px){
        max-width: 358px;
        margin: 0 auto;
        box-sizing: border-box;
    }
}

input::placeholder{
    color: #000;
    font-size: 20px;

    @media (max-width: 396px){
        font-size: 14px;
    }
}



.header{
    border-bottom: 3px solid #5252FF;
    
    &__wrap{
        display: flex;
        height: 121px;
        padding: 20px 0;
        justify-content: space-between;
        @media (max-width:396px) {
            padding: 0 0 20px;
        }
    }
    &__items{
        display: flex;
        height: 121px;
        justify-content: space-between;
        gap: 10px;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        gap: 57px;
    }
    &__logo{
        @media (max-width:396px) {
            width: 191px;
            height: 50px;
        }
    }
    &__linklogo{
        display: flex;
        align-content: center;
        &_img{
            max-width: 70px;
            margin-top: 10px;
            @media (max-width:396px) {
                margin-top: 0;
            }
        }
        
    }
    &__logotxt{
        color: #fff;
        font-size: 36px;
        font-family: ProtestGuerrilla;
        margin-top: 20px;
        @media (max-width: 396px){
            font-size: 24px;
            margin-top: 20px;
        }
    }
    &__elems{
        display: flex;
    }
    &__block{
        color: #fff;
        display: flex;
        flex-direction: column;
        margin-left: 57px;
        transition: all 0.3s ease;
        &:hover{
            transform: scale(.9);
            cursor: pointer;
        }
        @media (max-width: 396px){
            display: none;
        }
    }
    &__text{
        font-size: 32px;
    }
    &__searching{
        display: flex;
        margin-left: 57px;
        @media (max-width: 396px){
            margin-left: 0;
        }
    }
    &__search{
        width: 223px;
        height: 42px;
        padding-left: 26px;
        border-radius: 20px;
        margin-top: 20px;
        &-icon{
            background: #D9D9D9 url('../img/search.svg') no-repeat 170px center;   
            @media (max-width: 396px){
                margin-top: 0;
                font-size: 14px;
                width: 148px;
                height: 40px;
                background: #D9D9D9 url('../img/media_search.svg') no-repeat 110px center;
            }
        }
    }
    
    &__language{
        display: flex;
        margin-top: 20px;
        margin-left: 30px;
        justify-content: flex-end;
        @media (max-width:396px) {
            width: 86px;
            margin-top: 0;
            margin-left: 0;
        }
    }
    &__languagebtn{
        display: flex;
        justify-content: space-between;
        width: 100px;
        height: 42px;
        border-radius: 20px;
        background: #D9D9D9;
        padding: 4px 4px;
        transition: all .3s ease;
        align-items: center;
        margin-left: -25px;
        &_ru{
            font-size: 20px;
            @media (max-width: 396px){
                font-size: 14px;
            }
        }
        &-world{
            border-radius: 50%;
            -webkit-transition: -webkit-transform .8s ease-in-out;
            transition: transform .8s ease-in-out;
            &:hover{
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }
    &__burger{
        display: none;
        @media (max-width:396px) {
            display: flex;
            max-width: 46px;
        }
    }
    @media (max-width:396px) {
        &__wrap{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 1px;
            
        }
        &__items{
            display: flex;
            justify-content: center;
            max-width: 318px;
            gap: 19px;
            margin-top: 10px;
        }
    }
}

.main{
    background: url('../img/bg.png') no-repeat center center / cover;
    height: 855px;
    &__info{
        width: 440px;
        display: flex;
        flex-direction: column;
        @media (max-width:396px) {
            width: 223px;
        }
    }
    &__title{
        font-size: 64px;
        margin-top: 238px;
        @media (max-width:396px) {
            font-size: 32px;
            margin-top: 20px;
        }
    }
    &__subtitle{
        margin-top: 27px;
        font-size: 24px;
        @media (max-width:396px) {
            width: 142px;
            margin-top: 4px;
            font-size: 16px;
        }
    }
    &__btn{
        margin-top: 32px;
        width: 330px;
        height: 70px;
        padding: 16px 62px;
        border-radius: 20px;
        color: #fff;
        font-size: 32px;
        background:#5252FF;
        margin-bottom: 298px;
        @media (max-width:396px) {
            width: 200px;
            height: 50px;
            margin-top: 4px;
            padding: 12px 35px;
            font-size: 20px;
            border-radius: 5px;
        }
    }
    @media (max-width:396px) {
        width: 430px;
        height: 253px;
    }
}

.news{
    &__title{
        display: flex;
        justify-content: center;
        margin-top: 68px;
        font-size: 64px;
        @media (max-width:396px) {
            font-size: 32px;
            margin-top: 15px;
        }
    }
    &__news{
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
        @media (max-width:396px) {
            margin-top: 15px;
            justify-content: center;
            flex-direction: column;
            gap: 15px;
            padding: 0 20px;
        }
    }
    &__newcol{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width:396px) {
            gap: 15px;
        }
    }
    &__new{
        width: 564px;
        height: 436px;
        @media (max-width:396px) {
            width: 318px;
            height: 200px;
            &_img{
                width: 318px;
                height: 200px;
                &-big{
                    width: 318px;
                    height: 400px;
                }
            }
        }
    }
    &__text{
        position: relative;
        top: 10px;
        width: 404px;
        height: 168px;
        background: rgba(69, 69, 69, 0.76);
        border-radius: 20px;
        padding: 30px 50px;
        font-size: 24px;
        margin-top: -218px;
        position: relative;
        @media (max-width:396px) {
            width: 262px;
            height: 70px;
            font-size: 16px;
            padding: 10px 5px;
            margin-top: -115px;
            border-radius: 5px;
        }
    }
    &__btn{
        display: flex;
        justify-content: center;
    }
    &__button{
        margin-top: 68px;
        width: 340px;
        height: 70px;
        padding: 16px 118px;
        background: #5252FF;
        border-radius: 20px;
        color: #fff;
        font-size: 32px;
        @media (max-width:396px) {
            margin-top: 55px;
            width: 120px;
            height: 30px;
            border-radius: 5px;
            font-size: 16px;
            padding: 6px 28px;
        }
    }

}

.malling{
    background-color: #454545;
    margin-top: 68px;
    &__wrap{
        display: flex;
        justify-content: space-between;
        gap: 158px;
        padding: 25px 0;
        @media (max-width:396px) {
            padding: 10px 0;
            gap: 33px;
            justify-content: start;
        }
    }
    &__robot{
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        &:hover{
            transform: scale(1.4);
        }
        &-img{
            @media (max-width:396px) {
                width: 100px;
                height: 127px;
            }
        }
        
    }
    &__info{
        display: flex;
        flex-direction: column;
        width: 710px;
        @media (max-width:396px) {
            width: 169px;
        }
    }
    &__title{
        font-size: 32px;
        margin-bottom: 52px;
        @media (max-width:396px) {
            font-size: 10px;
            margin-bottom: 8px;
        }
    }
    &__subtitle{
        font-size: 20px;
        margin-bottom: 20px;
        @media (max-width:396px) {
            font-size: 10px;
            margin-bottom: 4px;
        }
    }
    &__email{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @media (max-width:396px) {
            margin-bottom: 8px;
            gap: 13px;
        }
    }
    &__input{
        width: 509px;
        height: 70px;
        padding: 20px 50px;
        border-radius: 20px;
        @media (max-width:396px) {
            width: 116px;
            height: 20px;
            padding: 4px 19px;
            border-radius: 5px;
            &::placeholder{
                font-size: 10px;
            }
        }
    }
    &__btn{
        width: 157px;
        height: 70px;
        background: #5252FF;
        color: #fff;
        font-size: 24px;
        padding: 20px 29px;
        border-radius: 20px;
        @media (max-width:396px) {
            width: 60px;
            height: 20px;
            font-size: 10px;
            border-radius: 5px;
            padding: 4px 6px;
        }
    }
    &__text{
        font-size: 20px;
        @media (max-width:396px) {
            font-size: 10px;
        }
    }
    @media (max-width:396px) {
        margin-top: 15px;
    }
}

.aboutus{
    
    margin-top: 30px;
    &__title{
        display: flex;
        justify-content: center;
        margin-top: 68px;
        font-size: 64px;
        @media (max-width:396px) {
            margin-top: 15px;
            font-size: 32px;
        }
    }
    &__aboutus{
        margin-top: 68px;
        background: #5252FF;
        @media (max-width:396px) {
            margin-top: 15px;
        }
    }
    &__info{
        height: 456px;
        font-size: 32px;
        padding: 64px 0 126px 0;
        width: 1148px;  
        display: flex;
        @media (max-width:396px) {
            font-size: 14px;
            width: 358px;
            height: 261px;
            padding: 20px 0;
        }
    }
}

.advantages{
    &__title{
        display: flex;
        justify-content: center;
        margin-top: 68px;
        font-size: 64px;
        @media (max-width:396px) {
            margin-top: 15px;
            font-size: 32px;
        }
    }
    &__columns{
        margin-top: 68px;
        display: flex;
        @media (max-width:396px) {
            flex-direction: column;
            margin-top: 15px;
        }
    }
    &__block{
        display: flex;
        align-items: center;
        width: 565px;
        @media (max-width:396px) {
            width: 358px;
            &-img{
                width: 105px;
                height: 170px;
            }
        }
    }
    &__text{
        width: 414px;
        font-size: 20px;
        @media (max-width:396px) {
            width: 244px;
            font-size: 14px;
        }
    }
}

.reviews{
    &__title{
        display: flex;
        justify-content: center;
        margin-top: 68px;
        font-size: 64px;
        @media (max-width:396px) {
            margin-top: 15px;
            font-size: 32px;
        }
    }
    &__info{
        margin-top: 68px;
        @media (max-width:396px) {
            margin-top: 15px;
            &-img{
                width: 27px;
                height: 26px;
            }
        }
    }
    &__text{
        font-size: 24px;
        @media (max-width:396px) {
            font-size: 14px;
        }
    }
    &__author{
        display: flex;
        justify-content: right;
        font-size: 36px;
        @media (max-width:396px) {
            font-size: 15px;
        }
    }
    &__button{
        margin-top: 64px;
        display: flex;
        justify-content: center;
        @media (max-width:396px) {
            margin-top: 15px;
        }
    }
    &__btn{
        width: 400px;
        height: 70px;
        background: #5252FF;
        color: #fff;
        font-size: 24px;
        padding: 20px 29px;
        border-radius: 20px;
        @media (max-width:396px) {
            width: 92px;
            height: 30px;
            font-size: 10px;
            padding: 9px 10px;
            border-radius: 5px;
        }
    }
}

.footer{
    margin-top: 68px;
    border-top: 5px solid #5252FF;
    &__footer{
        display: flex;
        justify-content: space-between;
        padding: 68px 0 74px;
        @media (max-width:396px) {
            padding: 13px 0 2px;
        }
    }
    &__info{
        width: 340px;
        @media (max-width:396px) {
            width: 175px;
        }
    }
    &__linklogo{
        display: flex;
        @media (max-width:396px) {
            &-img{
                width: 55px;
                height: 50px;
            }
        }
    }
    &__logotxt{
        color: #fff;
        font-size: 36px;
        font-family: ProtestGuerrilla;
        margin-top: 20px;
        @media (max-width:396px) {
            margin-top: 11px;
            font-size: 24px;
        }
    }
    &__subtitle{
        margin-top: 32px;
        font-size: 24px;
        @media (max-width:396px) {
            margin-top: 2px;
            font-size: 15px;
        }
    }
    &__rights{
        margin-top: 32px;
        @media (max-width:396px) {
            margin-top: 10px;
            font-size: 10px;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        @media (max-width:396px) {
            flex-direction: column;
            gap: 6px;
        }
    }
    &__links{
        width: 710px;
        margin-top: 15px;
        @media (max-width:396px) {
            width: 90px;
        }
    }
    &__link{
        color: #fff;
        font-size: 32px;
        @media (max-width:396px) {
            font-size: 14px;
        }
    }
    &__FAQ{
        margin-top: 55px;
        @media (max-width:396px) {
            margin-top: 6px;
        }
    }
    &__faq{
        color: #fff;
        font-size: 32px;
        @media (max-width:396px) {
            font-size: 14px;
        }
    }
    &__contact{
        display: flex;
        justify-content: end;
        margin-top: 32px;
        gap: 14px;
        &_link{
            transition: all 0.3s ease;
            &:hover{
                transform: scale(.9);
                cursor: pointer;
            }
            @media (max-width:396px) {
                &-img{
                    width: 26px;
                    height: 26px;
                }
            }
            
        }
        @media (max-width:396px) {
            margin-top: 18px;
            gap: 6px;
        }
    }
    @media (max-width:396px) {
        margin-top: 15px;
        border-top: 3px solid #5252FF;
    }
}